@layer components {
  .input {
    @apply form-input text-sm;
    width: 100%;
    border-radius: theme(borderRadius.box);
    border-color: theme(colors.gray.300);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .input:focus {
    @apply focus:ring-primary-500;
    border-color: theme(colors.primary.500);
  }

  .label {
    @apply text-sm;
    display: block;
    font-weight: 500;
    color: theme(colors.gray.700)
  }

  .textarea {
    @apply form-textarea text-sm shadow-sm;
    display: block;
    width: 100%;
    border-radius: theme(borderRadius.box);
    border-color: theme(colors.gray.300);
  }

  .textarea:focus {
    @apply ring-primary-500;
    border-color: theme(colors.primary.500);
  }

  .select {
    @apply form-select shadow-sm text-sm;

    display: block;
    width: 100%;
    border-radius: theme(borderRadius.box);
    border-color: theme(colors.gray.300);
    background-color: white;
    padding-top: theme(padding.2);
    padding-bottom: theme(padding.2);
    padding-left: theme(padding.3);
    padding-right: theme(padding.3);
  }

  .select:focus {
    @apply border-primary-500 outline-none ring-primary-500;
  }

  .paper {
    @apply shadow-sm;

    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    border-width: 1px;
    border-radius: 6px;
    border-color: theme(colors.gray.300);

    box-shadow: rgb(0 0 0 / 5%) 0px 1px 3px, rgb(0 0 0 / 5%) 0px 10px 15px -5px,
      rgb(0 0 0 / 4%) 0px 7px 7px -5px;

    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    break-inside: avoid;

    background-color: white;

    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 100ms;
  }

  .dark .paper {
    border-color: theme(colors.dark.400);
    background-color: theme(colors.dark.600);
  }

  .checkbox {
    @apply form-checkbox h-6 w-6 rounded border-gray-300 text-primary-600 focus:ring-primary-500;
  }

  .button {
    --bg-color: theme(colors.gray.800);

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    height: 36px;
    padding-left: 18px;
    padding-right: 18px;
    border-width: 1px;
    border-radius: 8px;
    border-color: var(--bg-color);
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: var(--bg-color);
  }

  .button:hover {
    --bg-color: theme(colors.gray.900);

    background-color: var(--bg-color);
    border-color: var(--bg-color);
  }

  .button:active {
    transform: translateY(1px);
  }

  .button:disabled,
  .button:disabled:hover {
    --bg-color: theme(colors.neutral.200);
    color: theme(colors.neutral.400);
  }

  .button:disabled {
    transform: none;
  }

  .button-neutral {
    --bg-color: theme(colors.neutral.800);
  }

  .button-neutral:hover {
    --bg-color: theme(colors.neutral.900);
  }

  .button-primary {
    --bg-color: theme(colors.primary.500);
  }

  .button-primary:hover {
    --bg-color: theme(colors.primary.600);
  }

  .button-danger {
    --bg-color: theme(colors.red.800);
  }

  .button-danger:hover {
    --bg-color: theme(colors.red.900);
  }

  .button-base {
    @apply active:translate-y-[1px];

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-style: solid;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 36px;
  }

  .button-base:disabled {
    background-color: theme(colors.gray.300) !important;
    color: theme(colors.gray.600) !important;
    cursor: not-allowed;
  }

  .dark .button-base:disabled {
    background-color: theme(colors.gray.800) !important;
    color: theme(colors.gray.900) !important;
    cursor: not-allowed;
  }

  .button-red-base {
    @apply border-red-500 bg-red-500 hover:border-red-600 hover:bg-red-600;
  }

  .button-blue-base {
    @apply border-blue-500 bg-blue-500 hover:border-blue-600 hover:bg-blue-600;
  }

  .button-green-base {
    @apply border-green-600 bg-green-600 hover:border-green-700 hover:bg-green-700;
  }

  .button-semiblack-base {
    @apply border-gray-700 bg-gray-700 hover:border-gray-800 hover:bg-gray-800;
  }

  .button-primary-base {
    @apply border-primary-500 bg-primary-500 hover:border-primary-600 hover:bg-primary-600;
  }
}
