@import url("./components.css");
@import url("./nprogress.css");
@import url("./markdown.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --header-height: theme("height.16");
  --h-screen-without-header: calc(100vh - var(--header-height));
  --max-content-width: theme("maxWidth.screen-xl");
  --default-gap: 1rem;
  --default-radius: 6px;
  --default-border-color: theme("colors.gray.300");
}

body {
  overflow: overlay;
  color: theme(textColor.black);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: theme(colors.gray.800 / 20%);
}

*::-webkit-scrollbar-thumb:hover {
  background: theme(colors.primary.800 / 30%);
  border-color: theme(colors.primary.800 / 10%);
  border-width: 1px;
  border-style: solid;
}

body::-webkit-scrollbar-track {
  margin-top: var(--header-height);
  margin-bottom: 0;
}

.dark {
  color-scheme: dark;
}

* {
  text-rendering: optimizeLegibility;
}

html {
  font-display: optional;
  display: block;
}

.transitions-be-gone * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@layer base {
  .app {
    background-color: theme(backgroundColor.gray.100);
  }

  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    max-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-left: theme(padding.4);
    padding-right: theme(padding.4);
    padding-top: theme(padding.4);
    padding-bottom: theme(padding.4);
  }

  @screen lg {
    .main {
      min-height: var(--h-screen-without-header);
    }
  }
}
