@import url("./components.css");
@import url("./nprogress.css");
@import url("./markdown.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --header-height: theme("height.16");
  --h-screen-without-header: calc(100vh - var(--header-height));
  --max-content-width: theme("maxWidth.screen-xl");
  --default-gap: 1rem;
  --default-radius: 6px;
  --default-border-color: theme("colors.gray.300");
}

* {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

html {
  font-display: optional;
  display: block;
}

body {
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-corner {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: calc(var(--default-gap) * 0.25);
  height: 8px;
}

@screen lg {
  body::-webkit-scrollbar {
    width: calc(var(--default-gap) * 0.5);
  }
}

body::-webkit-scrollbar-thumb {
  border-width: 4px;
  border-radius: 4px;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.125);
}

body::-webkit-scrollbar-track {
  margin-top: var(--header-height);
}

.transitions-be-gone * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@layer base {
  .app {
    min-height: 100vh;
    background-color: white;
    color: black;
  }

  .dark .app {
    background-color: theme(colors.dark.700);
    color: theme(colors.neutral.100);
  }

  .header {
    z-index: 10;
    position: sticky;
    top: 0;

    height: var(--header-height);
    width: 100%;
    background-color: white;

    border-bottom-width: 1px;
    border-color: var(--default-border-color);
  }

  .dark .header {
    @apply backdrop-blur-lg;

    background: theme("colors.neutral.900" / 90%);
    color: theme("colors.neutral.50");
    border-color: theme("colors.neutral.800");
  }

  .header-scrolled {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
  }

  .main {
    min-height: var(--h-screen-without-header);
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--default-gap);
    padding-bottom: var(--default-gap);
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }

  .card {
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
    padding-top: var(--default-gap);
    padding-bottom: var(--default-gap);

    border-width: 1px;
    border-radius: var(--default-radius);
    border-color: var(--default-border-color);

    @apply transition-all duration-200;
  }

  .dark .card {
    background-color: theme("colors.neutral.800");
    border-color: theme("colors.neutral.700");
  }

  .card-shadow {
    @apply shadow-[0_8px_30px_rgba(0,0,0,.12)];
  }

  .input-field {
    @apply form-input border-neutral-200;
    border-width: 1px;
    border-radius: var(--default-radius);
    font-size: theme("fontSize.sm");
    height: theme("height.10");
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }

  .input-field::placeholder {
    color: theme("colors.neutral.500");
  }

  .dark .input-field {
    border-color: theme("borderColor.neutral.700");
    background-color: theme("backgroundColor.neutral.800");
  }

  .dark .input-field::placeholder {
    color: theme("colors.neutral.500");
  }

  .select-field {
    @apply form-select border-neutral-200;
    text-transform: uppercase;
    font-weight: 600;
    background-color: whtie;
    border-width: 1px;
    border-radius: var(--default-radius);
    font-size: theme("fontSize.sm");
    height: theme("height.10");
    padding-left: var(--default-gap);
    padding-right: 2.5rem;
  }

  .dark .select-field {
    border-color: theme("borderColor.neutral.700");
    background-color: theme("backgroundColor.neutral.800");
  }

  .textarea-field {
    @apply form-textarea border-neutral-200;
    background-color: whtie;
    border-width: 1px;
    border-radius: var(--default-radius);
    font-size: theme("fontSize.sm");
  }

  .dark .textarea-field {
    border-color: theme("borderColor.neutral.700");
    background-color: theme("backgroundColor.neutral.800");
  }

  .select-field:focus,
  .input-field:focus,
  .textarea-field:focus {
    @apply border-black ring-black dark:border-white dark:ring-white;
  }

  .radio-field {
    display: flex;
    background-color: transparent;
    border-radius: var(--default-border-color);
    border-width: 2px;
    padding-left: var(--default-gap);
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @apply rounded-lg;
  }

  .radio-field:hover {
    cursor: pointer;
  }
}
