@import url("./components.css");
@import url("./nprogress.css");
@import url("./markdown.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  --header-height: theme("height.16");
  --h-screen-without-header: calc(100vh - var(--header-height));
  --max-content-width: theme("maxWidth.screen-xl");
  --default-gap: 1rem;
  --default-radius: 6px;
  --default-border-color: theme("colors.gray.300");
}

body {
  overflow: overlay;
  color: theme(textColor.black);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: theme(colors.gray.800 / 20%);
}

*::-webkit-scrollbar-thumb:hover {
  background: theme(colors.primary.800 / 30%);
  border-color: theme(colors.primary.800 / 10%);
  border-width: 1px;
  border-style: solid;
}

body::-webkit-scrollbar-track {
  margin-bottom: var(--header-height);
}

@screen desktop {
  body::-webkit-scrollbar-track {
    margin-top: var(--header-height);
    margin-bottom: 0;
  }
}

.dark {
  color-scheme: dark;
}

* {
  text-rendering: optimizeLegibility;
}

html {
  font-display: optional;
  display: block;
}

.transitions-be-gone * {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

@layer base {
  .app {
    min-height: 100vh;
    background-color: theme(backgroundColor.gray.100);
  }

  .main {
    min-height: var(--h-screen-without-header);
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--default-gap);
    padding-bottom: var(--default-gap);
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }
}
