.markdown-content iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.markdown-content iframe + iframe {
  margin-top: theme("spacing.4");
}

.markdown-content p + ol,
.markdown-content p + ul {
  margin-top: 0;
}

.markdown-content li + li {
  margin-top: 0;
}

.markdown-content table img {
  margin: 0;
}

.markdown-content tr th {
  @apply even:bg-neutral-200/40 dark:even:bg-neutral-900;
}

.markdown-content details {
  @apply rounded-lg border-l-4 border-primary-500 bg-white text-[#000];
}

.dark .markdown-content details {
  background-color: theme("colors.neutral.900");
  color: theme("colors.neutral.300");
}

.markdown-content details summary {
  font-weight: theme("fontWeight.semibold");
  cursor: pointer;
  list-style: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  user-select: none;
}

.markdown-content details[open] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 1rem;
}

.markdown-content details[open] summary {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  scroll-margin-top: 4.5rem;
}
