@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url("./nprogress.css");
@import url("./markdown.css");

* {
  text-rendering: optimizeLegibility;
}

:root {
  --header-height: theme("height.14");
  --h-screen-without-header: calc(100vh - var(--header-height));
  --max-content-width: theme("maxWidth.6xl");
  --default-gap: 1rem;
  --default-radius: 0.375rem;
  --default-border-color: theme("colors.neutral.200");
}

@layer base {
  .app {
    min-height: 100vh;
    background-color: white;
    color: black;
  }

  .header {
    z-index: 10;
    position: sticky;
    top: 0;

    height: var(--header-height);
    width: 100%;
    background-color: white;

    border-bottom-width: 1px;
  }

  .header-scrolled {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px;
  }

  .main {
    min-height: var(--h-screen-without-header);
    max-width: var(--max-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--default-gap);
    padding-bottom: var(--default-gap);
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }

  .card {
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
    padding-top: var(--default-gap);
    padding-bottom: var(--default-gap);

    border-width: 1px;
    border-radius: var(--default-radius);
    border-color: var(--default-border-color);
  }

  .input-field {
    @apply form-input border-neutral-200;
    border-width: 1px;
    border-radius: var(--default-radius);
    font-size: theme("fontSize.sm");
    height: theme("height.10");
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }

  .input-field::placeholder {
    color: theme("colors.neutral.400");
  }

  .select-field {
    @apply form-select border-neutral-200;
    text-transform: uppercase;
    font-weight: 600;
    background-color: whtie;
    border-width: 1px;
    border-radius: var(--default-radius);
    font-size: theme("fontSize.sm");
    height: theme("height.10");
    padding-left: var(--default-gap);
    padding-right: var(--default-gap);
  }

  .select-field:focus,
  .input-field:focus {
    @apply border-black ring-black;
  }
}
