@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./nprogress.css");
@import url("./markdown.css");
@import url("./cards.css");

:root {
  --mobile-navbar-height: theme("height.16");
}

::selection {
  background: theme("colors.primary.500");
  color: white;
}

.dark body {
  background-color: theme("colors.neutral.900");
  color: theme("colors.neutral.300");
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "main" "footer";
  margin-bottom: var(--mobile-navbar-height);
}

@media (min-width: theme("screens.lg")) {
  .app-container {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "sidebar main" "footer footer";
    margin-bottom: 0;
  }
}

.app-container .sidebar {
  grid-area: sidebar;
}

.app-container .main {
  grid-area: main;
  min-height: 100vh;
}

.app-container .footer {
  grid-area: footer;
}

@layer components {
  .card {
    background-color: theme("colors.white");
    box-sizing: border-box;
    border-width: 1px;
    border-radius: theme("borderRadius.lg");
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #000;
    @apply shadow-sm;
  }

  .dark .card {
    background-color: theme("colors.neutral.800");
    color: theme("colors.neutral.300");
    border-color: theme("colors.neutral.700");
  }
}
