@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mobile-navbar-height: theme("height.16");
}

::selection {
  background: theme("colors.primary.500");
  color: white;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "footer";

  margin-bottom: var(--mobile-navbar-height);

  @media (min-width: theme("screens.lg")) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "sidebar main"
      "footer footer";
    margin-bottom: 0;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
    min-height: 100vh;
  }

  .footer {
    grid-area: footer;
  }
}

@layer components {
  .card {
    background-color: theme("colors.white");
    
    box-sizing: border-box;
    border-width: 1px;
    border-radius: theme("borderRadius.lg");
    
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    color: #000;

    @apply shadow-sm;
  }
}
